[submodule "bdm"]
	path = content/bdm
	url = https://github.com/BioDynaMo/biodynamo.git
	branch = master
[submodule "biodynamo"]
	path = biodynamo
	url = https://github.com/BioDynaMo/biodynamo
	branch = master
[submodule "content/biodynamo"]
	path = content/biodynamo
	url = https://github.com/BioDynaMo/biodynamo
	branch = master
